*{
    margin: 0;
    padding: 0;
}
b{
    color: rgb(10, 26, 99);
}
/*<-------------------------------// Sección Proyectos en Ejecución //-------------------------------------------->*/
/*<--- Sección Header --->*/
header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
body{
    margin-top: 140px;
}
#superiorContainer{
    background-color: #072146;
    width: 100%;
    height: 55px;
}
#menusContainer{
    background-color: #043263;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}
#listMenuContainer{
    display: flex;
    margin: 0px auto;
    list-style: none;
}
#titleHeader{
    color: white;
    margin: 0 0 0 30px;
}
.titleMenus{
    color: white;
    margin: 0 0 0 30px;
}
/*<--- Sección caracteristicas del proyecto en curso --->*/
.generalContainer{
    margin: 30px 30px 0 30px;
}
.containerProjectCourse{
    border: 1px solid rgb(64, 153, 226);
    border-radius: 4px;height: auto;
    min-width: 600px;
    margin: 0px 0px 0 0px;
    background-color: #028484;
}
.containerProject{
    border: 1px solid rgb(64, 153, 226);
    border-radius: 4px;
    height: auto;
    margin: 2px;
    width: auto;
    background-color: white;
    display: flex;
}
.majorTitlesFlow{
    border: 1px solid rgb(64, 153, 226);
    border-radius: 4px;
    width: 120px;
    background-color: #028484;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}
.titleMajorFlow{
    margin: 0;
    padding: 5px;
}
.cardProyecto{
    border-right: 1px dashed rgb(203, 231, 255);
    height: auto
}
.scrollVertical{
    width:auto;
    height:100px;
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
}
.titles{
    font-size:medium;
    color: rgb(13, 40, 163);
    height: auto;
    margin: 8px 0 8px 0;
}
.subTitles{
    font-weight: bolder;
}
#listProject{
    font-size:small;
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
.containerCarousel{
    height: auto;
    max-width: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.personFlow{
    font-size:x-small;
    max-width: auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}
.othersContainer{
    margin-top: 15px;
}
.personCode{
    margin: 0;
}
.imagePerson{
    width: auto;
    height: 60px;
    border-radius: 50%;
}
.listPerson{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.persons{
    height: 1auto;
    background-color: white;
    padding-bottom: 8px;
    border-right: 1px dashed rgb(203, 231, 255);
}
.containerSchedule{
    border-top: 1px dashed rgb(203, 231, 255);
    border-radius: 4px;
    height: 140px;
    background-color: white;
}
.itemListTrimestre{
    width: 25%;
    padding: 0px;
    list-style: none;
    text-align: center;
}
.listTrimestre{
    display: inline-flex;
}
/*<---------------- Sección Proyectos en Backlog ----------------->*/
.containerProjectBacklog{
    border: 1px solid  rgb(247, 62, 62);
    border-radius: 4px;
    height: auto;
    min-width: 600px;
    background-color: rgb(250, 93, 93);
}
.containerBacklog{
    border: 1px solid rgb(64, 153, 226);
    border-radius: 4px;
    height: 120px;
    margin: 2px;
    background-color: white;
}
.cardProyectoBacklog{
    border-right: 1px dashed rgb(203, 231, 255);
}
.containerProjectBack{
    border: 1px solid rgb(247, 62, 62);
    border-radius: 4px;
    height: 160px;
    margin: 2px;
    width: auto;
    background-color: white;
    display: flex;
}
.majorTitlesBacklog{
    border: 1px solid  rgb(247, 62, 62);
    border-radius: 4px;
    width: 120px;
    background-color:  rgb(250, 93, 93);
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    margin-top: 10px;
}
.titleMajorBacklog{
    margin: 0;
    padding: 5px;
}
.btn-primary{
    margin-bottom: 8px;
    background-color:rgb(206, 204, 204);
    border-color: rgb(129, 129, 129);
    color: rgb(92, 92, 92);
    font-weight: bolder;
    height: 29px;
    padding: 2px 12px 2px 12px;
}
.btn-secondary{
    margin-bottom: 8px;
    background-color:rgb(255, 255, 255);
    border-color: rgb(129, 129, 129);
    color: rgb(92, 92, 92);
    font-weight: bolder;
}
/*<---Sección de Modal para Asignar Personas en Proyectos Backlog--->*/
.horizontal-scrollable{
    overflow-x: auto;
    white-space: nowrap;
    display: inline-flex;
    float: none;
    width: 100%;
}
.botonHabilidadMaestra{
    width: 120px;
    height: auto;
}
.containerHabilidadLista, .habilidadLista{
    font-size:x-small;
}
.descriptionPerson{
    margin: 0;
}
.personBacklog{
    font-size:x-small;
    width: 120px;
    padding: 0px;
    list-style: none;
    text-align: center;
}
.containerPersonBacklog{
    margin: 15px;
}
/*<--------------------------------------// Estilos Estructura Página Personas //-------------------------------->*/
/*<---Estilos selector de dirección y servicio personas--->*/
.containerDropdowns{
    display: inline-flex;
    margin-left: 50px;
}
.form-select{
    margin-right: 20px;
}
/*<---Estilos Tarjeta personas--->*/
.text-right{
    text-align: right;
}
.btn-perfil{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bolder;
}
.btn-correo{
    background-color: #20c997;
    color: white;
    font-weight: bolder;
}
#cardContainer{
    padding: 8px;
    display: inline-flex;
}
.imgHabilidadPersona{
    height: auto;
    width: auto;
    margin-top: 30px;
}
.card-footer{
    padding: .5rem;
}
/*<--- Modal Habilidades personas --->*/
.personHabilidad{
    font-size:small;
    width: 120px;
    padding: 0px;
    list-style: none;
    text-align: center;
}
.containerPersonHabilidad{
    margin: 15px;
}
.descriptionPersonHabilidad{
    margin: 0;
}
.imagePersonHabilidad{
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
.containerChart{
    
    justify-content: center;
    align-items: center;
}
/*<--- Modal Correo personas --->*/
.item-copy{
    text-align: center;
}
.textoCopiar{
    height: auto;
    padding: 2px 5px 2px 10px;
}
.btnCopiar{
    border-radius: 5px;
    border-color: #007bff;
    color: #007bff;
}
/*<--------------------------------------// Estilos Estructura Página Inicio //-------------------------------->*/
.containerGeneralGuia{
    display: flex;
}
.containerGuiaServicio{
    width: 40%;
    text-align: justify;
    margin: 0px auto;
    border: 2px solid #028484;
    border-radius: 15px;
    padding: 15px 30px;
}
.containerGuiaDireccion{
    width: 40%;
    text-align: justify;
    margin: 0px 10px 0 auto;
    border: 2px solid #028484;
    border-radius: 15px;
    padding: 15px 30px;
}
.form-select{
    display: inline-flex;
    width: auto;
    margin: 15px 15px 20px 15px;
}
.containerProyectosDireccion{
    margin: 25px 100px;
}
.containerDiagramaHorizontal, .guiaDiagramaHorizontal{
    margin: 0px;
}
.chartHorizontal{
    width: 100%;
    height: auto;
    padding: 0px 40px 0 80px;
    text-align: center;
}
.chartRadar{
    width: 85%;
    height: auto;
    padding: 0 80px 0 40px;
    text-align: center;
}
#serviciosChart{
    padding: 0;
    margin: 0;         
}

/*<--------------------------------------// Estilos Estructura login //-------------------------------->*/
.scrollVerticalProyectos{
    width:auto;
    height:200px;
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
}